@import url("/home/paul/.cache/wal/colors-wlogout.css");

* {
    background-image: none;
    font-size: 18px;
	
	transition: 20ms;
	box-shadow: none;
}

window {
    /*background-color: alpha(@background, 0.9);*/
	/*background-color: rgba(17, 17, 17, 0.45);*/
background: url("/home/paul/wallpapers/walls/backiee-315462-landscape.jpg");
	background-size: cover;
	font-size: 16pt;

}

button {
    /*margin: 20px;
    padding: 50px;
    min-width: 160px;
    min-height: 160px;
    background-size: 35%;*/
	background-repeat: no-repeat;
	/*background-position: center;*/
	background-size: 8%;
	animation: gradient_f 20s ease-in infinite;
	border-radius: 10px; /* Increased border radius for a more rounded look */
	border:0px;
	transition: all 0.3s cubic-bezier(.55, 0.0, .28, 1.682), box-shadow 0.2s ease-in-out, background-color 0.2s ease-in-out;
	color: @foreground;
	background-color: alpha(@primary, 0.2);
	
	margin: 20px;
    padding: 50px;
	 min-width: 160px;
    min-height: 160px;

}

button:focus {
	background-color: alpha(@primary, 0.5);
    /*background-size: 25%;*/
	border: 0px;
}

button:hover {
    background-color: alpha(@primary, 0.9);;
	opacity: 0.8;
    color: @on_primary;
    background-size: 12%;
    margin: 30px;
    border-radius: 80px;
    box-shadow: 0 0 50px @shadow;
}

button span {
    font-size: 1.2em; /* Increase the font size */
}


#lock {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/lock.png"));
}

#logout {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/logout.png"));
}

#suspend {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/sleep.png"));
}

#hibernate {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/hibernate.png"));
}

#shutdown {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/power.png"));
}

#reboot {
	margin: 10px;
	border-radius: 20px;
	background-image: image(url("icons/restart.png"));
}
/*
#lock      { background-image: image(url("~/.config/wlogout/icons/lock.png")); }
#logout    { background-image: image(url("~/.config/wlogout/icons/logout.png")); }
#suspend   { background-image: image(url("~/.config/wlogout/icons/suspend.png")); }
#shutdown  { background-image: image(url("~/.config/wlogout/icons/shutdown.png")); }
#hibernate { background-image: image(url("~/.config/wlogout/icons/hibernate.png")); }
#reboot    { background-image: image(url("~/.config/wlogout/icons/reboot.png")); }

#lock:hover      { background-color: @color12; border-color: @color12; }
#logout:hover    { background-color: @color11; border-color: @color11; }
#suspend:hover   { background-color: @color10; border-color: @color10; }
#shutdown:hover  { background-color: @color9;  border-color: @color9;  }
#hibernate:hover { background-color: @color14; border-color: @color14; }
#reboot:hover    { background-color: @color13; border-color: @color13; }
*/