@import url("/home/paul/.cache/wal/colors-waybar.css");

window {
  background-color: alpha(@background, 0.7);
  border-radius: 12px;
  border: 1px solid alpha(@color12, 0.3);
  padding: 6px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.45);
}

button {
  all: unset;
  border-radius: 10px;
  padding: 4px;
  margin: 2px;
  min-width: 32px;
  min-height: 32px;
  background-color: transparent;
}
